body {
  margin: 0;
  padding: 0;
  color: rgb(53, 53, 53);
}
a {
  color: rgb(97, 150, 219);
  text-decoration: none;
  cursor: grab;
  /* transition: .4s ease-in; */
  transition: .2s ease-in;
}
a:visited {
  color: rgb(97, 150, 219);
}
a:hover {
  color: rgb(236, 148, 46);
}
h1 {
  font-size: 60px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 30px;
  margin: 0;
}
h2 {
  margin-top: 25;
}
#grid_left > ol {
  margin: 0;
  padding: 50px;
}
#grid {
  display: grid;
  grid-template-columns: 175px 8fr;
}
#grid_left {
  border-right: 1px solid gray;
}
#gird_right {
  padding: 0 37px 0 37px;
}
#night_day {
  margin: 37px;
  border: 1px solid rgb(97, 150, 219);
  background-color: rgb(161, 194, 238);
  color: rgb(53, 53, 53);
  border-radius: 4px;
}
@media(max-width:800px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 30px;
    margin: 0;
  }
  #grid_left > ol {
    margin: 0;
    padding: 20px 0 20px 40px;
  }
  #grid {
    display: block;
  }
  #grid_left {
    border-bottom: 1px solid gray;
    border-right: none;
  }
  iframe {
    width: 280px;
    height: 200px;
  }
}